a:hover,
a:focus {
    color: rgb(6, 15, 65);
}

.card-link {
    color: #222;
}

.card-link:hover {
    color: #555;
}

.edit-item {
    margin-right: 20px;
    color: #060;
}

.delete-item {
    margin-right: 20px;
    color: #600;
}

.disable-enable {
    color: red;
}

/* .fa-compress-alt {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
}
  
.fa-compress-alt {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    transition: .3s transform ease-in-out;
} */

.users-section {
    display: none;
}

.ads-section {
    display: none;
}