/* a:hover,
a:focus {
    color: rgb(51, 82, 255);
} */

.card-link {
    color: #222;
}

.card-link:hover {
    color: #555;
}

a .edit-item {
    margin-right: 20px;
    color: #060;
}

a .delete-item {
    margin-right: 20px;
    color: #600;
}

a .disable-enable {
    color: red;
}

/* .fa-compress-alt {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
}

.fa-compress-alt {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    transition: .3s transform ease-in-out;
} */

.users-section {
    display: none;
}

.ads-section {
    display: none;
}

.ad-image-row {
    padding: 20px;
}

.user-details {
    margin-right: 20px;
}

.manage-user a {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    display: inline-block;
    color: rgb(134, 17, 17);
}

.manage-user .enabled {
    color: rgb(7, 124, 7);
}

.manage-user .disabled {
    color: rgb(134, 17, 17);
}
